@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.aboutfade{
    animation: aboutfade 1s forwards  ;
    animation-delay: 0.1s;
}

.navanimation{
    transition: all ease-in-out 0.5s;
}

.scroll-up{
    transform: translate3d(0,-100%,0);
    box-shadow: 2px 0 10px  ;
}
.scroll-down {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

#purpleball{
    transition-timing-function: cubic-bezier(0, .29, .27, .71) ;
}

/* .bodycontainer {
    transform: translate3d(0, 0, 0);
    will-change: transform;
    transition: transform 0.5s ease-out;
} */

.aboutfade.photo{
    animation-timing-function: cubic-bezier(.43, .1, .19, .91);
    animation-delay:0.3s;    
}
div .aboutfade.info{
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.59, .09, .48, 1.1);
}

@keyframes aboutfade {
    from{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

#social_icons{
    animation: social 2s forwards cubic-bezier(.53, .1, .12, 1.4);
}

#social_icons>p:nth-child(1){
    animation-timing-function: cubic-bezier(.11, .32, .11, .96);
    animation-delay: 0.3s;
}
#social_icons>p:nth-child(2) {
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(.31, .18, .24, .97);
}
#social_icons>p:nth-child(3) {
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(.66, .14, .44, .91);
}
#social_icons>p:nth-child(4) {
    animation-delay: 1.7s;
    animation-timing-function: cubic-bezier(.82, .06, .65, 1.02);
}

@keyframes social {
    from{
        opacity: 0;
        transform: translateX(7%);
    }
    40%{
        opacity: 0;
    }
    to{
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes waves{
    0%{
        transform: translate(0%,0);
    }
    30%{
        transform: translate(-20%,10%);
    }
    60%{
        transform: translate(20%,0);
    }
    100%{
        transform: translate(0%,0);
    }

}

.parallax:nth-child(1){
    transform: translate(-100px,0);
}

.load-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0a090f;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 4px solid;
    animation: rotatei 1s cubic-bezier(.15, .44, .93, .61) infinite;
}

@keyframes rotatei {
    0% {
        transform: rotate(0);
        border-left-color: #9e03ff;
    }

    50% {
        border-left-color: #70ffdb;


    }

    100% {
        transform: rotate(360deg);
        border-left-color: #9e03ff;
    }
}

/*  -------------------------------------- scrolll reveal -----------------------------------------*/

.reveal{
    opacity: 0;
    transform: translateY(4rem)  ;
    transition: all 1s ease-in-out;
    /* transition-delay: 1000ms; */
}

.reveal.activate{
    opacity: 1;
    transform: translateY(0) ;
    transition-delay: 100;
}

/* scrollbar csc----------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 253, 253);
    border-radius: 20px;
    margin-left: 40px;
}
/*  */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.oneanimation{
    transform:translateY(250%) rotateZ(-45deg);
    transition: ease-in-out 0.5s  all;
    
}
.twoanimation{
    transition: ease-in-out 0.5s  all;
    opacity: 0;
}
.threeanimation{
    transform: translateY(-250%) rotateZ(45deg);
    transition: ease-in-out 0.5s all;
}

#mobilenav{
    animation: faderight 1s alternate cubic-bezier(.3, .12, .16, .98);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes faderight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX();
    }
}